$ cat .gitignore

.\RpgGame\RpgGame\bin\*
.\RpgGame\RpgGame\obj\*

.\RpgGame\RpgGameContent\bin\*
.\RpgGame\RpgGameContent\obj\*

.\Animation Importer\obj\*
.\Animation Importerbin\*

*.csproj.user
*.cachefile