$ cat .gitignore

.\RpgGame\RpgGame\bin\*
.\RpgGame\RpgGame\obj\*

.\RpgGame\RpgGameContent\bin\*
.\RpgGame\RpgGameContent\obj\*

.\Animation Importer\obj\*
.\Animation Importerbin\*

*.csproj.user
*.cachefile
obj
bin
/RpgGame/RpgGameContent/RpgGameContent.contentproj.orig
/RpgGame/RpgGameContent/RpgGameContent.contentproj.user

/RpgGame.v11.suo

/RpgGame/RpgGameContent/Maps/TestMapByte64.tmx
/RpgGame/RpgGameContent/Maps/test.tmx
/RpgGame/RpgGameContent/Maps/unbenannt.tmx
/RpgGame/RpgGameContent/Weapons/Sword.xml
